.mt5 { margin-top: 5px; }
.ml5 { margin-left: 5px; }
.mb5 { margin-bottom: 5px; }
.mr5 { margin-right: 5px; }

.mt10 { margin-top: 10px; }
.ml10 { margin-left: 10px; }
.mb10 { margin-bottom: 10px; }
.mr10 { margin-right: 10px; }

