.roundedImg {
  width: 120px;
  height: 120px;
  background-size: cover;
  display: block;
  border: 1px solid var(--textColor);
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}

.bg-item {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}