body {
  font-size: 16px;
  font-family: Regular;
  color: var(--textColor);
  height: 100vh;
  background: var(--bgColor);
  margin: 0;
  padding: 0;
}

.app-root {
  height: 100vh;
}
.app-view,
.app-view-content {
  position: relative;
  padding: 64px 1rem 0;
  display: flex;
  flex-direction: row;
  min-height: 83vh;
}

.app-view-content {
  flex-direction: column;
}

.app-view-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
