.app-footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.app-footer-bg {
  position: absolute;
  background: #000000;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
}

.app-footer-list{
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.app-footer-item {
  margin: 0.5rem 1rem 0.25rem;
}

.app-footer-item a{
  font-size: var(--textSize);
  color: var(--textColor);
  text-decoration: none;
}

.app-footer span {
  display: none;
}