.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.app-header-bg,
.app-header-bg-opaque {
  position: absolute;
  background: #000000;
  width: 100%;
  height: 64px;
  opacity: 0.4;
  border-bottom: 1px solid white;
  transition-property: opacity;
  transition-duration: 0.7s;
}

.app-header-bg-opaque {
  opacity: 0.9;
}

.app-header-title {
  flex: 2;
  position: relative;
  font-size: var(--textSize);
  font-family: Regular;
  line-height: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.4rem;
}

.app-header-title a,
.app-header-title a:hover {
  display: flex;
  flex-direction: row;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  color: var(--textColor);
  text-decoration: none;
}

.app-header-logo-img {
  margin: 0.1rem 0.3rem 0 0;
  align-self: flex-start;
}

.app-header-title span {
  font-size: var(--minSize);
  font-family: Lighter;
  color: var(--selectColor);
}

.app-header-nav {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-header-nav-item{
  position: relative;
  background: transparent;
  border: none;
  color: var(--textColor);
  padding: 1.3rem 1rem 1.5rem 1rem;
  text-decoration: none;
  font-size: var(--maxSize);
  transition: color;
  transition-duration: 0.5s;
  outline: none;
  overflow: hidden;
}

.app-header-nav-item:hover,
.app-header-nav-item:hover > span.txt {
  outline: none;
  cursor: pointer;
  color: var(--selectColor);
}

.app-header-nav-item.first-item{
  padding: 0;
}

a.app-header-nav-item {
  font-size: 1.3rem;
}

.app-header-nav-lang {
  position: relative;
  background: transparent;
  padding: 2rem 1.5rem;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.app-header-nav-lang:hover > span.icon {
  color: var(--selectColor);
  top: 4rem;
  opacity: 0;
}

.app-header-nav-lang:hover > span.txt {
  color: var(--selectColor);
  top: 1.2rem;
  opacity: 1;
}

.app-header-nav-lang > span.icon {
  position: absolute;
  top: 1.3rem;
  left:0.85rem;
  font-size: 1.2rem;
  color: var(--textColor);
  opacity: 1;
  transition-property: color top opacity;
  transition-duration: .25s;
}

.app-header-nav-lang > span.txt{
  position: absolute;
  top: -2rem;
  left: 0.8rem;
  font-family: Lighter;
  text-transform: uppercase;
  font-size: var(--minSize);
  color: var(--textColor);
  opacity: 0;
  transition-property: color top opacity;
  transition-duration: .25s;
}

a.app-header-nav-mailto:hover:after {
  display: block;
  content: "xavi.vila.albiol@gmail.com";
  font-family: Regular;
  font-size: var(--minSize);
  color: var(--selectColor);
  text-decoration: underline;
  margin: -18px 0 0 30px;
}

@media (max-width: 649px) {
  a.app-header-nav-item:hover:after {
    display: none;
  }
}
