:root {
  --textColor: #ffffff;
  --secondColor: #ff3366;
  --selectColor: #4ECDC4;
  --bgColor: #262938;
  --hugeSize: 7.5rem;
  --maxSize: 1.5rem;
  --textSize:1.1rem;
  --minSize: 0.9rem;
  --tinySize: 0.8rem;
}