/** GLOBAL VARIABLES **/
@import './_variables.css';

/** LAYOUT STYLES **/
@import './layout/Body.css';
@import './layout/Content.css';
@import './layout/Footer.css';
@import './layout/Header.css';

/** COMPONENT STYLES **/
@import './component/Article.css';
@import './component/Background.css';
@import './component/Button.css';
@import './component/Form.css';
@import './component/Loader.css';
@import './component/Search.css';

/** PROPERTY STYLES **/
@import './property/BoxModel.css';
@import './property/Grid.css';
@import './property/Image.css';
@import './property/Text.css';
