.app-article-wrapper{
  position: relative;
  padding: 90px 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 78vh;
}

.app-article-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-article{
  position: relative;
  width: 100%;
  background: var(--bgDarkerColor)
}

.app-article-content,
.app-article-content-txt {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  z-index: 2;
  margin-bottom: 1rem;
}

.app-article-content-txt {
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.app-article-content-txt > p {
  font-family: Lighter;
  font-size: var(--textSize);
  line-height: 1.5rem;
  text-align: justify;
}

.app-article-img {
  position: relative;
  width: 100%;
  height: 125px;
  margin: 0rem 0 0.8rem;
  overflow: hidden;
}

.app-article-title {
  margin: 0;
  padding: 0 1rem 0.25rem;
}
.app-article-title > a {
  font-family: Regular;
  font-size: var(--titleSize);
  color: var(--textColor);
  text-decoration: none;
  line-height: 2.25rem;
  cursor: pointer;
}

.app-article-title > a:hover {
  color: var(--selectColor);
}

.app-article-txt {
  padding: 0 1rem 2rem;
  text-align: justify;
}

.app-article-tags {
  position: absolute;
  bottom: 0;
  width: 90%;
  bottom: 1rem;
  margin: 0 1rem;
  font-family: Lighter;
  font-size: var(--tinySize);
  display: flex;
  flex-direction: row;
}

.app-article-nav {
  position: absolute;
  width: 95%;
  left: 2.5%;
  top: 45px;
  z-index: 999999;
}

.app-article-tag {
  flex: 1;
  color: var(--secondColor);
}

.app-article-tag > span {
  color: var(--textColor);
}

.app-article-tags > small {
  margin-top: 3px;
}

.app-article-figure {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.app-article-figure-img,
.app-article-figure-img-render  {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  transition-property: opacity;
  transition-duration:.3s;
  transition-timing-function: linear;
}

.app-article-figure-img-render {
  opacity: 1
}

.app-article-full-title {
  width: 100%;
  z-index: 2;
  padding: 0 4rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--titleSize);
  font-family: Bold;
  line-height: 2.5rem;

}

.app-article-full-subtitle {
  text-align: center;
  color: var(--selectColor);
  font-family: Lighter;
  font-size: var(--maxSize);
  margin-top: 0;
}

@media only screen 
  and (min-width: 1200px) {
    .app-article-wrapper {
      width: 90%;
      margin: 0 auto 0;
      flex-direction: row;
      justify-content: center;
    }
    .app-article{
      width: 30%;
    }
    .app-article-even,
    .app-article-odd {
      margin: 3px;
    }
    .app-article-content-txt {
      width: 800px;
    }
  }

@media only screen 
  and (max-width: 1199px) 
  and (min-width: 850px) {
    .app-article-wrapper {
      width: 97%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: center;
    }
    .app-article{
      width: 30%;
    }
    .app-article-even,
    .app-article-odd {
      margin: 3px;
    }
    .app-article-content-txt {
      width: 800px;
    }

  }

  @media only screen 
  and (max-width: 849px) 
  and (min-width: 650px) {
    .app-article-wrapper {
      flex-direction: row;
    }
    .app-article{
      width: 49.5%;
    }
    .app-article-even{
      margin: 0.5% 0.5% 0.5% 0
    }
    .app-article-odd {
      margin: 0.5% 0 0.5% 0.5%;
    }

  }

@media only screen 
  and (max-width: 649px) {
    .app-article-wrapper {
      flex-direction: column;
      padding-top: 8rem;
    }
    .app-article{
      width: 100%;
    }
    .app-article-title > a {
      font-size: var(--titleMinSize);
    }

    .app-article-even,
    .app-article-odd {
      margin: 0.5rem 0;
    }

    .app-article-figure {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 300px;
    }
    
    .app-article-figure img {
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

}