.app-background {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration:.5s;
  transition-timing-function: linear;
  
}

.app-background-render {
  opacity: 1
}

@media only screen 
  and (min-width: 850px) {
    .app-background img {
      background-size: cover !important;
      position: relative;
      width: 100%;
      height: auto;
      top: 50%;
      transform: translateY(-50%)
    }
  }

@media only screen 
  and (max-width: 849px) {
    .app-background img {
      background-size: cover !important;
      position: relative;
      width: auto;
      height: 100vh;
      left: 50%;
      transform: translateX(-50%)
    }
}

@media only screen  
  and (max-device-width: 849px) 
  and (orientation: landscape) { 
    .app-background img {
      background-size: cover !important;
      position: relative;
      width: 100%;
      height: auto;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
}
